.konkurs
  .container
    .konkurs__title KONKURSY

    .konkurs__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

    .konkurs__box
      a.konkurs__item(href="#")
        img.konkurs__img(src="../components/konkurs/src/contest1.jpg" alt="content1")
        .konkurs__title.-small LOREM IPSUM
        .konkurs__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
      a.konkurs__item(href="#")
        img.konkurs__img(src="../components/konkurs/src/contest2.jpg" alt="content1")
        .konkurs__title.-small LOREM IPSUM
        .konkurs__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
      a.konkurs__item(href="#")
        img.konkurs__img(src="../components/konkurs/src/contest3.jpg" alt="content1")
        .konkurs__title.-small LOREM IPSUM
        .konkurs__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.