.open
  .container
    .open__box
      img.open__img(src="../components/open/src/open1.jpg" alt="obraz")

    .open__box.-flex
      .open__flex
        .open__logo
          include ../logo/_logo-black
        .open__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .open__bot
          a.open__item(href="main.html") Lorem
          a.open__item(href="family.html") Ipsum
          a.open__item(href="offer.html") Lorem
          a.open__item(href="main.html") Ipsum

    .open__box
      img.open__img(src="../components/open/src/open2.jpg" alt="obraz")