extends _layout.pug

block content
  .header
    include ../components/menu/_menu
  .baner
    include ../components/baner/_baner
  .aboutt
    include ../components/about/_about
  .yelloww
    include ../components/yellow/_yellow