extends _layout.pug

block content
  .header
    include ../components/menu/_menu
  .baner
    include ../components/baner/_baner
  .forma
    include ../components/konkurs/_konkurs
  .yelloww
    include ../components/yellow/_yellow