extends _layout.pug

block content
  .header
    include ../components/menu/_menu
  .baner
    include ../components/baner/_baner
  .moree
    include ../components/more/_more
  .galery
    include ../components/gallery/_gallery
  .maps
    include ../components/map/_map
  .yelloww
    include ../components/yellow/_yellow