extends _layout.pug

block content
  .header
    include ../components/menu/_menu
  .baner
    include ../components/baner/_baner
  .information
    include ../components/info/_info
  .yelloww
    include ../components/yellow/_yellow