extends _layout.pug

block content
  .header
    include ../components/menu/_menu
  .baner
    include ../components/baner/_baner
  .opener
    include ../components/open/_open
  .yelloww
    include ../components/yellow/_yellow