- var title = "LOREM IPSUM";

.gallery
  .container
    .gallery__title
      include ../title/_title-white

    .gallery__box
      a(href="components/gallery/src/slid1.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post slid a little later on.</p>").gallery__boxItem
        img.gallery__boxImg(src="components/gallery/src/slid1.jpg" alt="galeria")
      a(href="components/gallery/src/slid2.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post slid a little later on.</p>").gallery__boxItem
        img.gallery__boxImg(src="components/gallery/src/slid2.jpg" alt="galeria")
      a(href="components/gallery/src/slid3.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post slid a little later on.</p>").gallery__boxItem
        img.gallery__boxImg(src="components/gallery/src/slid3.jpg" alt="galeria")
      a(href="components/gallery/src/slid1.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post slid a little later on.</p>").gallery__boxItem
        img.gallery__boxImg(src="components/gallery/src/slid1.jpg" alt="galeria")
      a(href="components/gallery/src/slid2.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post slid a little later on.</p>").gallery__boxItem
        img.gallery__boxImg(src="components/gallery/src/slid2.jpg" alt="galeria")
      a(href="components/gallery/src/slid3.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post slid a little later on.</p>").gallery__boxItem
        img.gallery__boxImg(src="components/gallery/src/slid3.jpg" alt="galeria")

    .gallery__area

    a.gallery__btn(href="#") Lorem ipsum
      .gallery__fa.fa.fa-arrow-right(aria-hidden="true")