.footer
  .container
    .footer__logo
      include ../logo/_logo
    .footer__top
        a.footer__item(href="main.html") Lorem
        a.footer__item(href="family.html") Ipsum
        a.footer__item(href="offer.html") Lorem
        a.footer__item(href="main.html") Ipsum


