.map
  .container
    .map__box
      .map__item
        iframe.map__frame(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d81603.22381568981!2d19.12483616263006!3d50.27137750670972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4716da99feda4b29%3A0xcb6c2aa12b6507db!2sSosnowiec!5e0!3m2!1spl!2spl!4v1489412362828" frameborder="0" style="border:0" allowfullscreen)
      .map__black KLIKNIJ NA LOKALIZACJE, KTORA CIE INTERESUJE

    .map__box.-small
      img.map__img(src="../components/map/src/map.jpg" alt="foto")
      .map__hover
        .map__title LOREM IPSUM
        .map__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.