- var title = "LOREM IPSUM";

.more
  .container
    .more__box
      img.more__img(src="../components/more/src/more.jpg" alt="more")

    .more__box.-small
      .more__title
        include ../title/_title
      .more__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.

      a.more__btn(href="#") Lorem ipsum
        .more__fa.fa.fa-arrow-right(aria-hidden="true")