.menu
  .container
    a.menu__logo(href="main.html")
      include ../logo/_logo

    .menu__bars(type="button")
      i.fa.fa-bars(aria-hidden="true")

    .menu__nav
      .menu__navLeft
        .nav__box
        a.menu__navItem(href="main.html") O NAS
        a.menu__navItem(href="family.html") WIELKIE OTWARCIE
        a.menu__navItem(href="offer.html") ZAINSPIRUJ SIE
        a.menu__navItem(href="main.html") KONKURSY
        a.menu__navItem(href="form.html") KARIERA

